body {
  font-family: "Sarabun", sans-serif;
}
.main_logo {
  position: absolute;
  background-image: url("/ep1/image/collect1/logo.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 40px;
  height: 40px;
}
.footer_logo {
  background-image: url("/ep1/image/collect1/logo.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 40px;
  height: 40px;
}
.call_nayok {
  position: relative;
  background-image: url("/ep1/image/collect1/call_nayok.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 200px;
  height: 200px;
}
