body {
  font-family: "Sarabun", sans-serif;
}
.main_logo {
  position: absolute;
  background-image: url("/public/png/logo.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 40px;
  height: 40px;
}
.footer_logo {
  background-image: url("/public/png/logo.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 40px;
  height: 40px;
}
.call_nayok {
  position: relative;
  background-image: url("/public/png/call_nayok.png");
  background-repeat: no-repeat;
  background-position: left top;
  width: 200px;
  height: 200px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 33.33%; /* สำหรับจอใหญ่: 3 รูปต่อแถว */
}

@media (max-width: 1024px) {
  .gallery-item {
    width: 50%; /* สำหรับจอเล็ก: 2 รูปต่อแถว */
  }
}
